
<div class="row">




	<div class="col-lg-12">
		<h1 class="page-header">
			Dashboard
		</h1>
		<ol class="breadcrumb">
			<li class="active">
				Dashboard
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-ld-12 col-md-12 container-fluid panel-default">
		<div class="panel panel-primary no-curve">
			<div class="panel-heading clearfix no-curve">
				<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Next Meeting</h4>
			</div>
			<div class="panel-body">
				<%= week_calendar table: {class: "table table-bordered"}, tr: {class: "active"}, td: {}, number_of_weeks: 1 do |date| %>
				<div class="calendar-box" style="<%= (@calendar_switch == 1 ? "background: #404040; color: #FF0066" : "background: #606060; color: #66CCFF" ).to_s %>">
					<div class="calendar-box-title"><%= date.to_formatted_s(:long_ordinal) %></div>
					<div class="calendar-box-content">Still need to add meeting logic</div>
				</div>
				<% if @calendar_switch == 1 %>
				<% @calendar_switch = 0 %>
				<% elsif @calendar_switch == 0 %>
				<% @calendar_switch = 1 %>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 container-fluid panel-default">
		<div class="panel panel-primary no-curve">
			<div class="panel-heading clearfix no-curve">
				<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Search Clients</h4>
				<div class="input-group col-md-offset-6 col-xs-offset-8">
					<input id="Special" type="text" class="form-control no-curve" placeholder="Search">
					<div class="input-group-btn no-curve">
						<button class="btn btn-info no-curve"><i class="glyphicon glyphicon-search"></i></button>
						
					</div>
				</div>
			</div>
			<div class="panel-body">
				aaaaaa
			</div>
		</div>

		<div class="panel panel-primary no-curve">
			<div class="panel-heading clearfix no-curve">
				<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Current Memos</h4>
				
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div> 
	<div class="col-xs-12 col-md-6 container-fluid panel-default">
		
		<div class="panel panel-primary no-curve">
			<div class="panel-heading clearfix no-curve">
				<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Search Companies</h4>
				<div class="input-group col-md-offset-6 col-xs-offset-8">
					<input id="Special" type="text" class="form-control no-curve" placeholder="Search">
					<div class="input-group-btn no-curve">
						<button class="btn btn-info no-curve"><i class="glyphicon glyphicon-search"></i></button>
						
					</div>
				</div>
			</div>
			<div class="panel-body">
				
			</div>
		</div>
		
		
		<div class="panel panel-primary no-curve">
			<div class="panel-heading clearfix no-curve">
				<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Followed Companies</h4>
				
				<%= form_tag("/dashboard/show", method: :post, class:"input-group col-md-offset-6 col-xs-offset-8 ") do %>
				<%= text_field_tag(:favourite_tag, nil, class: "form-control tblack", placeholder: "Enter company tag")%>
				<div class="input-group-btn no-curve">
					<%= submit_tag("Add", class: "btn btn-info pull-right") %>
					<% end %>
					
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th class="padding-10">Name</th>
						<th class="padding-10">Symbol</th>
						<th class="padding-10">High</th>
						<th class="padding-10">Low</th>
						<th class="padding-10">Open</th>
						<th class="padding-10"></th>

					</tr>
					<% @favourites_data.map.with_index do |e, i| %>
					<%= form_tag "/dashboard/show", method: :post, class:"" do %>
					<tr>
						<td class="padding-10"><%= e.name %></td>
						<td class="padding-10"><%= e.symbol %></td>
						<td class="padding-10"><%= e.high %></td>
						<td class="padding-10"><%= e.low %></td>
						<td class="padding-10"><%= e.open %></td>
						<td class="padding-10"> 
							
							<% #hidden_field_tag :unfavourite_tag, :value => "AAPL" %>
							
							<button type="submit" name="stock_symbol" value=<%=(@favourites[i].id).to_s%> class="btn btn-danger btn-xs">Remove</button>

							<% end %>
						</td>	

					</tr>
					<% end %>
				</table>
				
				
			</div>
		</div>

	</div>
</div>






