<div class="col-md-9 panel panel-default padding-10 mgn-top-5 standard-height generic">
	<div class="header"><h3>Dashboard</h3></div>
	<%= form_tag("/search", method: "get") do %>
	<%= label_tag(:q, "Search by symbol:") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("Search") %>
	<% end %>
	<%= @stuff%>
	<%=
		line_chart (0..2).map {|e| 
			{ 
				name: @info_array[e*2], 
				data: @info_array[e*2+1]
			}
		}, 
		min:@lowest, 
		max:@highest,
		height: 30,
		width: 100,
		colors:["#6600FF", "#FF0066", "#66CCFF"],
		library: 
			{
				title: "Google (GOOG):",
				titleTextStyle: {color: "#dadada"},
				color: "#dadada",
				backgroundColor: "#000006", 
				legend: 
					{
						textStyle:{color: "#dadada"},
					},
				hAxis: 
					{
						title:"Date",
						titleTextStyle: {color: "#dadada"},
						#gridlines:{color:"white"}
					},
				vAxis: 
					{
						title: "Numbers",
						titleTextStyle: {color: "#dadada"},
					},
				pointSize: 3,
				curveType: 'none',
				chartArea: 
					{
						width: "80%",
						height: "80%"
					}

			}

	 %>
</div> 