<%= form_for @meeting do |f| %>
 
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@meeting.errors.count, "error") %> prohibited
        this meeting from being saved:
      </h2>
      <ul>
        <% @meeting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :meeting_subject %><br>
    <%= f.text_field :meeting_subject %>
  </p>
 
  <p>
    <%= f.label :meeting_date_time %><br>
    <%= f.datetime_select :meeting_date_time, start_year:Date.today.year, :order => [:day,:month,:year], :minute_step => 15 %> 
  </p>

  <p>
    <%= f.label :client_name %><br>
    <%= f.text_field :client_name %>
  </p>

  <p>
    <%= f.label :meeting_description %><br>
    <%= f.text_area :meeting_description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
