<div class="row">
    <div class="col-lg-12">
        <h1>Meetings</h1>
            <ol class="breadcrumb">
                <li>
                                <a href="/dashboard/show">Dashboard</a>
                            </li>
                <li>
                   <a href="/meetings">Meetings</a>
                </li>
                <li class="active">
                    Edit Meeting
                </li>
                            
            </ol>
    </div>
</div>



<div class="row">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 toppad" >
     
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Edit Meeting</h3>
        </div>
        <div class="panel-body">
          <div class="row">
                   
            
            <div class=" col-md-9 col-lg-9 "> 
              <%= form_for :meeting, url: meeting_path(@meeting),:html => { :class =>
                'table-user-information' }, method: :patch do |f| %>
              <table class="table table-user-information">
                <tbody>
                 <% if @meeting.errors.any? %>
                   <div id="error_explanation">
                    <h2>
                      <%= pluralize(@meeting.errors.count, "error") %> require fixing before this meeting can be saved:
                    </h2>
                    <ul>
                      <% @meeting.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                  <% end %>
                <tr>
                  
                  <tr>
                    <td>Subject</td>
                    <td><%= f.text_field :meeting_subject %></td>
                    <%= f.hidden_field :user_id, value: session[:user_id] %>
                  </tr>
                 
                  <tr>
                    <td>Select Client</td>
                    <td><%= f.collection_select :client_id, @clients, :id, :full_name, prompt: "Please select a client..." %></td>
                  </tr>
                  <tr>
                    <td>Date of Meeting</td>
                    <td><%= f.datetime_select :meeting_date, start_year: Date.today.year, end_year: 2018 %></td>
                  </tr>
                  <tr>
                    <td>Meeting Notes</td>
                    <td> <%= f.text_area :meeting_description %></td>
                  </tr>
                  
                  
                </tbody>
              </table>
              <span class="pull-right">
              <%= f.submit class: "btn btn-info",data: { no_turbolink: true } %>
                <% end %>
                <a href="/meetings" data-original-title="Return" data-toggle="tooltip" type="button" class="btn btn-danger">Cancel </a>
              </span>
              
            </div>
          </div>
        </div>
      </div>                 
    </div>
  </div>
</div>
