<div class="col-md-9 panel panel-default padding-10 mgn-top-5 standard-height generic">
	<div class="header"><h1>Set up a new meeting</h1></div>

	<%= form_for :meeting, url: meetings_path do |f| %>

		<p>
			<%= f.label :meeting_subject %><br>
			<%= f.text_field :meeting_subject %>
		</p>

		<p>
			<%= f.label :date_of_meeting %><br>
			<%= f.date_select :date_of_meeting, start_year: Date.today.year, end_year: 2018 %>
		</p>

		<p>
			<%= f.label :client_name %><br>
			<%= f.text_field :client_name %>
		</p>

		<p>
			<%= f.label :meeting_description %><br>
			<%= f.text_area :meeting_description %>
		</p>

		<p>
			<%= f.submit class: "btn btn-info" %>
		</p>

	<% end %>
</div>