<h1> List of Clients </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
 
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.first_name %> <%= client.last_name %></td>
      <td><%= client.email %></td>
      <td><%= link_to 'Show', client_path(client) %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
      <td><%= link_to 'Destroy', client_path(client),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
