<div class="row">
 <div class="col-lg-12">
  <h1 class="page-header">
    Clients
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/dashboard/show">Dashboard</a>
    </li>
    <li class="active">
      Clients
    </li>
  </ol>
</div>
</div>

<div class="col-xs-12 col-md-6 container-fluid panel-default">

  <div class="panel panel-primary">
    <div class="panel-heading clearfix ">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Client List</h4> <!-- Dont laught at this, couldnt be bothered googling how to add spaces lol -->
      <div class="input-group col-md-offset-6 col-xs-offset-8">
        <input id="Special" type="text" class="form-control no-curve" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-info no-curve"><i class="glyphicon glyphicon-search "></i></button>&nbsp;
          <div class="divider"></div>
          <a href="/clients/new"><button class="btn btn-warning no-curve">Add Client</button></a>
          
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
       <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @clients.each do |client| %>
      <tr> 
        <td><%= client.first_name %> <%= client.last_name %></td>
        <td><%= client.email %></td>
        <td><%= link_to 'Show', client_path(client), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Edit', edit_client_path(client), class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Delete', client_path(client),
        method: :delete,
        data: { confirm: "Are you sure you want to delete "+ client.first_name + " " + client.last_name + "?"}, class: "btn btn-danger btn-xs" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

</div>

<div class="col-xs-12 col-md-6 container-fluid panel-default">

  <div class="panel panel-primary">
    <div class="panel-heading clearfix ">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Quick Client Overview</h4> <!-- Dont laught at this, couldnt be bothered googling how to add spaces lol -->
      
    </div>
    <div class="panel-body">
      
      Have quick summary of client info here, so like quick option that would allow an FA to jump straight to buying shares instead of haveing to presso on the client and then selecting that option 

  </div>
</div>

</div>
